/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

// hojas secundarias

@import "utilidades/home";
@import "utilidades/contactos";
@import "utilidades/clientes";
@import "utilidades/nosotros";
@import "utilidades/servicios";
@import "utilidades/footer";
@import "utilidades/transform-img";
@import "utilidades/mediaqueries";
